<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"><%- include('./partials/sidebar'); %></div>
        <div class="col-sm-10">
          
          <% if (title === 'Library Home'){ %>
            <%- include('./partials/content'); %>

          <% } else if (title === 'Book List'){ %>
            <%- include('./partials/book_list'); %>

          <% } else if (title === 'Book Instance List'){ %>
            <%- include('./partials/bookinstance_list'); %>
        
          <% } else if (title === 'Author List') { %>
            <%- include('./partials/author_list'); %>

          <% } else if (title === 'Genre List') { %>
            <%- include('./partials/genre_list'); %>

          <% } else if (title === 'Genre Detail') { %>
            <%- include('./partials/genre_detail'); %>

          <% } %>
        </div>

      </div>
    </div>
  </body>
</html>



